.widget {
	margin: rem_calc(0 0 30);
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-sidebar{
	background: #fff;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}