//
// @variables
//
$include-html-grid-classes: true;
$include-xl-html-grid-classes: false;

// We use these to control text direction settings
$text-direction: ltr;
$default-float: left;
$opposite-direction: right;

$row-width: rem-calc(1300);
$total-columns: 12;

$last-child-float: $opposite-direction;

$column-gutter: rem-calc(25);